In [3]:
import urllib.request

In [4]:
url="https://www.mohfw.gov.in/"
req = urllib.request.Request(url)
resp = urllib.request.urlopen(req)
respData = resp.read()

In [5]:
import pandas as pd

In [6]:
lists=pd.read_html(respData)
type(lists)

list

In [7]:
df=lists[0]

In [8]:
df.drop('S. No.', axis=1, inplace=True)
df

,Name of State / UT,Active Cases*,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*
0,Andaman and Nicobar Islands,0,33,0,33
1,Andhra Pradesh,1951,2682,75,4708
2,Arunachal Pradesh,50,1,0,51
3,Assam,1946,615,4,2565
4,Bihar,2578,2480,30,5088
5,Chandigarh,36,273,5,314
6,Chhattisgarh,786,283,4,1073
7,Dadar Nagar Haveli,18,2,0,20
8,Delhi,17125,10999,812,28936
9,Goa,235,65,0,300
10,Gujarat,5186,13635,1249,20070
11,Haryana,2286,2134,28,4448
12,Himachal Pradesh,184,224,5,413
13,Jammu and Kashmir,2830,1216,41,4087
14,Jharkhand,602,490,7,1099
15,Karnataka,3259,2132,61,5452
16,Kerala,1096,803,15,1914
17,Ladakh,52,50,1,103
18,Madhya Pradesh,2658,6331,412,9401
19,Maharashtra,43601,39314,3060,85975
20,Manipur,120,52,0,172
21,Meghalaya,22,13,1,36
22,Mizoram,33,1,0,34
23,Nagaland,110,8,0,118
24,Odisha,953,1894,9,2856
25,Puducherry,63,36,0,99
26,Punjab,451,2106,51,2608
27,Rajasthan,2718,7641,240,10599
28,Sikkim,7,0,0,7
29,Tamil Nadu,14399,16999,269,31667
30,Telengana,1803,1710,137,3650
31,Tripura,608,192,0,800
32,Uttarakhand,814,528,13,1355
33,Uttar Pradesh,4076,6185,275,10536
34,West Bengal,4488,3303,396,8187
35,Cases being reassigned to states,7837,NaN,NaN,7837
36,Total#,124981,124430,7200,256611
37,*(Including foreign Nationals),*(Including foreign Nationals),*(Including foreign Nationals),*(Including foreign Nationals),*(Including foreign Nationals)
38,**( more than 70% cases due to comorbidities ),**( more than 70% cases due to comorbidities ),**( more than 70% cases due to comorbidities ),**( more than 70% cases due to comorbidities ),**( more than 70% cases due to comorbidities )
39,#States wise distribution is subject to furthe...,#States wise distribution is subject to furthe...,#States wise distribution is subject to furthe...,#States wise distribution is subject to furthe...,#States wise distribution is subject to furthe...
40,#Our figures are being reconciled with ICMR,#Our figures are being reconciled with ICMR,#Our figures are being reconciled with ICMR,#Our figures are being reconciled with ICMR,#Our figures are being reconciled with ICMR

In [9]:
df.drop(range(35, 41), axis=0,  inplace=True)

In [10]:
df.dtypes

Name of State / UT            object
Active Cases*                 object
Cured/Discharged/Migrated*    object
Deaths**                      object
Total Confirmed cases*        object
dtype: object

In [11]:
df.rename({'Name of State / UT':'state', 'Active Cases*':'active', 'Cured/Discharged/Migrated*':'recovered', 'Deaths**':'deaths'}, axis=1, inplace=True)
df

,state,confirmed,recovered,deaths,Total Confirmed cases*
0,Andaman and Nicobar Islands,0,33,0,33
1,Andhra Pradesh,1951,2682,75,4708
2,Arunachal Pradesh,50,1,0,51
3,Assam,1946,615,4,2565
4,Bihar,2578,2480,30,5088
5,Chandigarh,36,273,5,314
6,Chhattisgarh,786,283,4,1073
7,Dadar Nagar Haveli,18,2,0,20
8,Delhi,17125,10999,812,28936
9,Goa,235,65,0,300
10,Gujarat,5186,13635,1249,20070
11,Haryana,2286,2134,28,4448
12,Himachal Pradesh,184,224,5,413
13,Jammu and Kashmir,2830,1216,41,4087
14,Jharkhand,602,490,7,1099
15,Karnataka,3259,2132,61,5452
16,Kerala,1096,803,15,1914
17,Ladakh,52,50,1,103
18,Madhya Pradesh,2658,6331,412,9401
19,Maharashtra,43601,39314,3060,85975
20,Manipur,120,52,0,172
21,Meghalaya,22,13,1,36
22,Mizoram,33,1,0,34
23,Nagaland,110,8,0,118
24,Odisha,953,1894,9,2856
25,Puducherry,63,36,0,99
26,Punjab,451,2106,51,2608
27,Rajasthan,2718,7641,240,10599
28,Sikkim,7,0,0,7
29,Tamil Nadu,14399,16999,269,31667
30,Telengana,1803,1710,137,3650
31,Tripura,608,192,0,800
32,Uttarakhand,814,528,13,1355
33,Uttar Pradesh,4076,6185,275,10536
34,West Bengal,4488,3303,396,8187

In [12]:
df.dtypes

state                     object
confirmed                 object
recovered                 object
deaths                    object
Total Confirmed cases*    object
dtype: object

In [13]:
df.confirmed=df.confirmed.map(int)

In [14]:
df.recovered=df.recovered.map(int)
df.deaths=df.deaths.map(int)

In [15]:
df.dtypes

state                     object
confirmed                  int64
recovered                  int64
deaths                     int64
Total Confirmed cases*    object
dtype: object

In [16]:
t_confirmed=df.confirmed.sum()

In [17]:
t_recovered=df.recovered.sum()

In [18]:
t_death=df.deaths.sum()

In [19]:
t_rate=t_recovered*100/t_confirmed
t_rate #recovery rate

106.21969541760568

In [20]:
df.sort_values(by='confirmed', inplace=True, ascending=False)
df

,state,confirmed,recovered,deaths,Total Confirmed cases*
19,Maharashtra,43601,39314,3060,85975
8,Delhi,17125,10999,812,28936
29,Tamil Nadu,14399,16999,269,31667
10,Gujarat,5186,13635,1249,20070
34,West Bengal,4488,3303,396,8187
33,Uttar Pradesh,4076,6185,275,10536
15,Karnataka,3259,2132,61,5452
13,Jammu and Kashmir,2830,1216,41,4087
27,Rajasthan,2718,7641,240,10599
18,Madhya Pradesh,2658,6331,412,9401
4,Bihar,2578,2480,30,5088
11,Haryana,2286,2134,28,4448
1,Andhra Pradesh,1951,2682,75,4708
3,Assam,1946,615,4,2565
30,Telengana,1803,1710,137,3650
16,Kerala,1096,803,15,1914
24,Odisha,953,1894,9,2856
32,Uttarakhand,814,528,13,1355
6,Chhattisgarh,786,283,4,1073
31,Tripura,608,192,0,800
14,Jharkhand,602,490,7,1099
26,Punjab,451,2106,51,2608
9,Goa,235,65,0,300
12,Himachal Pradesh,184,224,5,413
20,Manipur,120,52,0,172
23,Nagaland,110,8,0,118
25,Puducherry,63,36,0,99
17,Ladakh,52,50,1,103
2,Arunachal Pradesh,50,1,0,51
5,Chandigarh,36,273,5,314
22,Mizoram,33,1,0,34
21,Meghalaya,22,13,1,36
7,Dadar Nagar Haveli,18,2,0,20
28,Sikkim,7,0,0,7
0,Andaman and Nicobar Islands,0,33,0,33

In [21]:
df[:10]

                state  confirmed  recovered  deaths Total Confirmed cases*
19        Maharashtra      43601      39314    3060                  85975
8               Delhi      17125      10999     812                  28936
29         Tamil Nadu      14399      16999     269                  31667
10            Gujarat       5186      13635    1249                  20070
34        West Bengal       4488       3303     396                   8187
33      Uttar Pradesh       4076       6185     275                  10536
15          Karnataka       3259       2132      61                   5452
13  Jammu and Kashmir       2830       1216      41                   4087
27          Rajasthan       2718       7641     240                  10599
18     Madhya Pradesh       2658       6331     412                   9401

In [22]:
rate_recovery=df.recovered/df.confirmed*100

In [23]:
rate_recovery

19     90.167657
8      64.227737
29    118.056810
10    262.919398
34     73.596257
33    151.741904
15     65.418840
13     42.968198
27    281.125828
18    238.186606
4      96.198604
11     93.350831
1     137.467965
3      31.603289
30     94.841930
16     73.266423
24    198.740818
32     64.864865
6      36.005089
31     31.578947
14     81.395349
26    466.962306
9      27.659574
12    121.739130
20     43.333333
23      7.272727
25     57.142857
17     96.153846
2       2.000000
5     758.333333
22      3.030303
21     59.090909
7      11.111111
28      0.000000
0            inf
dtype: float64

In [24]:
rate_death=df.deaths/df.confirmed*100
rate_death

19     7.018188
8      4.741606
29     1.868185
10    24.084073
34     8.823529
33     6.746811
15     1.871740
13     1.448763
27     8.830022
18    15.500376
4      1.163693
11     1.224847
1      3.844182
3      0.205550
30     7.598447
16     1.368613
24     0.944386
32     1.597052
6      0.508906
31     0.000000
14     1.162791
26    11.308204
9      0.000000
12     2.717391
20     0.000000
23     0.000000
25     0.000000
17     1.923077
2      0.000000
5     13.888889
22     0.000000
21     4.545455
7      0.000000
28     0.000000
0           NaN
dtype: float64

In [25]:
df['rate_death']=rate_death

In [26]:
df['rate_recovery']=rate_recovery

In [27]:
df[df.rate_death==df.rate_death.max()]

,state,confirmed,recovered,deaths,Total Confirmed cases*,rate_death,rate_recovery
10,Gujarat,5186,13635,1249,20070,24.084073,262.919398

In [28]:
df

,state,confirmed,recovered,deaths,Total Confirmed cases*,rate_death,rate_recovery
19,Maharashtra,43601,39314,3060,85975,7.018188,90.167657
8,Delhi,17125,10999,812,28936,4.741606,64.227737
29,Tamil Nadu,14399,16999,269,31667,1.868185,118.056810
10,Gujarat,5186,13635,1249,20070,24.084073,262.919398
34,West Bengal,4488,3303,396,8187,8.823529,73.596257
33,Uttar Pradesh,4076,6185,275,10536,6.746811,151.741904
15,Karnataka,3259,2132,61,5452,1.871740,65.418840
13,Jammu and Kashmir,2830,1216,41,4087,1.448763,42.968198
27,Rajasthan,2718,7641,240,10599,8.830022,281.125828
18,Madhya Pradesh,2658,6331,412,9401,15.500376,238.186606
4,Bihar,2578,2480,30,5088,1.163693,96.198604
11,Haryana,2286,2134,28,4448,1.224847,93.350831
1,Andhra Pradesh,1951,2682,75,4708,3.844182,137.467965
3,Assam,1946,615,4,2565,0.205550,31.603289
30,Telengana,1803,1710,137,3650,7.598447,94.841930
16,Kerala,1096,803,15,1914,1.368613,73.266423
24,Odisha,953,1894,9,2856,0.944386,198.740818
32,Uttarakhand,814,528,13,1355,1.597052,64.864865
6,Chhattisgarh,786,283,4,1073,0.508906,36.005089
31,Tripura,608,192,0,800,0.000000,31.578947
14,Jharkhand,602,490,7,1099,1.162791,81.395349
26,Punjab,451,2106,51,2608,11.308204,466.962306
9,Goa,235,65,0,300,0.000000,27.659574
12,Himachal Pradesh,184,224,5,413,2.717391,121.739130
20,Manipur,120,52,0,172,0.000000,43.333333
23,Nagaland,110,8,0,118,0.000000,7.272727
25,Puducherry,63,36,0,99,0.000000,57.142857
17,Ladakh,52,50,1,103,1.923077,96.153846
2,Arunachal Pradesh,50,1,0,51,0.000000,2.000000
5,Chandigarh,36,273,5,314,13.888889,758.333333
22,Mizoram,33,1,0,34,0.000000,3.030303
21,Meghalaya,22,13,1,36,4.545455,59.090909
7,Dadar Nagar Haveli,18,2,0,20,0.000000,11.111111
28,Sikkim,7,0,0,7,0.000000,0.000000
0,Andaman and Nicobar Islands,0,33,0,33,NaN,inf

In [29]:
df.sort_values(by=['rate_recovery', 'rate_death'], ascending=False)

,state,confirmed,recovered,deaths,Total Confirmed cases*,rate_death,rate_recovery
0,Andaman and Nicobar Islands,0,33,0,33,NaN,inf
5,Chandigarh,36,273,5,314,13.888889,758.333333
26,Punjab,451,2106,51,2608,11.308204,466.962306
27,Rajasthan,2718,7641,240,10599,8.830022,281.125828
10,Gujarat,5186,13635,1249,20070,24.084073,262.919398
18,Madhya Pradesh,2658,6331,412,9401,15.500376,238.186606
24,Odisha,953,1894,9,2856,0.944386,198.740818
33,Uttar Pradesh,4076,6185,275,10536,6.746811,151.741904
1,Andhra Pradesh,1951,2682,75,4708,3.844182,137.467965
12,Himachal Pradesh,184,224,5,413,2.717391,121.739130
29,Tamil Nadu,14399,16999,269,31667,1.868185,118.056810
4,Bihar,2578,2480,30,5088,1.163693,96.198604
17,Ladakh,52,50,1,103,1.923077,96.153846
30,Telengana,1803,1710,137,3650,7.598447,94.841930
11,Haryana,2286,2134,28,4448,1.224847,93.350831
19,Maharashtra,43601,39314,3060,85975,7.018188,90.167657
14,Jharkhand,602,490,7,1099,1.162791,81.395349
34,West Bengal,4488,3303,396,8187,8.823529,73.596257
16,Kerala,1096,803,15,1914,1.368613,73.266423
15,Karnataka,3259,2132,61,5452,1.871740,65.418840
32,Uttarakhand,814,528,13,1355,1.597052,64.864865
8,Delhi,17125,10999,812,28936,4.741606,64.227737
21,Meghalaya,22,13,1,36,4.545455,59.090909
25,Puducherry,63,36,0,99,0.000000,57.142857
20,Manipur,120,52,0,172,0.000000,43.333333
13,Jammu and Kashmir,2830,1216,41,4087,1.448763,42.968198
6,Chhattisgarh,786,283,4,1073,0.508906,36.005089
3,Assam,1946,615,4,2565,0.205550,31.603289
31,Tripura,608,192,0,800,0.000000,31.578947
9,Goa,235,65,0,300,0.000000,27.659574
7,Dadar Nagar Haveli,18,2,0,20,0.000000,11.111111
23,Nagaland,110,8,0,118,0.000000,7.272727
22,Mizoram,33,1,0,34,0.000000,3.030303
2,Arunachal Pradesh,50,1,0,51,0.000000,2.000000
28,Sikkim,7,0,0,7,0.000000,0.000000

In [30]:
df.rate_recovery.mean()

inf

In [31]:
df.rate_death.mean()

3.9686698459353114

In [32]:
df.confirmed.sum()

117144

In [33]:
df.recovered.sum()

124430

In [34]:
df.deaths.sum()

7200

In [35]:
active=df.confirmed.sum()-(df.recovered.sum()+df.deaths.sum())
active

-14486

In [36]:
freed=df.recovered.sum()+df.deaths.sum()
freed

131630

In [37]:
df['active']=df.confirmed-(df.recovered+df.deaths)
df

,state,confirmed,recovered,deaths,Total Confirmed cases*,rate_death,rate_recovery,active
19,Maharashtra,43601,39314,3060,85975,7.018188,90.167657,1227
8,Delhi,17125,10999,812,28936,4.741606,64.227737,5314
29,Tamil Nadu,14399,16999,269,31667,1.868185,118.056810,-2869
10,Gujarat,5186,13635,1249,20070,24.084073,262.919398,-9698
34,West Bengal,4488,3303,396,8187,8.823529,73.596257,789
33,Uttar Pradesh,4076,6185,275,10536,6.746811,151.741904,-2384
15,Karnataka,3259,2132,61,5452,1.871740,65.418840,1066
13,Jammu and Kashmir,2830,1216,41,4087,1.448763,42.968198,1573
27,Rajasthan,2718,7641,240,10599,8.830022,281.125828,-5163
18,Madhya Pradesh,2658,6331,412,9401,15.500376,238.186606,-4085
4,Bihar,2578,2480,30,5088,1.163693,96.198604,68
11,Haryana,2286,2134,28,4448,1.224847,93.350831,124
1,Andhra Pradesh,1951,2682,75,4708,3.844182,137.467965,-806
3,Assam,1946,615,4,2565,0.205550,31.603289,1327
30,Telengana,1803,1710,137,3650,7.598447,94.841930,-44
16,Kerala,1096,803,15,1914,1.368613,73.266423,278
24,Odisha,953,1894,9,2856,0.944386,198.740818,-950
32,Uttarakhand,814,528,13,1355,1.597052,64.864865,273
6,Chhattisgarh,786,283,4,1073,0.508906,36.005089,499
31,Tripura,608,192,0,800,0.000000,31.578947,416
14,Jharkhand,602,490,7,1099,1.162791,81.395349,105
26,Punjab,451,2106,51,2608,11.308204,466.962306,-1706
9,Goa,235,65,0,300,0.000000,27.659574,170
12,Himachal Pradesh,184,224,5,413,2.717391,121.739130,-45
20,Manipur,120,52,0,172,0.000000,43.333333,68
23,Nagaland,110,8,0,118,0.000000,7.272727,102
25,Puducherry,63,36,0,99,0.000000,57.142857,27
17,Ladakh,52,50,1,103,1.923077,96.153846,1
2,Arunachal Pradesh,50,1,0,51,0.000000,2.000000,49
5,Chandigarh,36,273,5,314,13.888889,758.333333,-242
22,Mizoram,33,1,0,34,0.000000,3.030303,32
21,Meghalaya,22,13,1,36,4.545455,59.090909,8
7,Dadar Nagar Haveli,18,2,0,20,0.000000,11.111111,16
28,Sikkim,7,0,0,7,0.000000,0.000000,7
0,Andaman and Nicobar Islands,0,33,0,33,NaN,inf,-33

In [38]:
df.sort_values(by='active', ascending=False)

,state,confirmed,recovered,deaths,Total Confirmed cases*,rate_death,rate_recovery,active
8,Delhi,17125,10999,812,28936,4.741606,64.227737,5314
13,Jammu and Kashmir,2830,1216,41,4087,1.448763,42.968198,1573
3,Assam,1946,615,4,2565,0.205550,31.603289,1327
19,Maharashtra,43601,39314,3060,85975,7.018188,90.167657,1227
15,Karnataka,3259,2132,61,5452,1.871740,65.418840,1066
34,West Bengal,4488,3303,396,8187,8.823529,73.596257,789
6,Chhattisgarh,786,283,4,1073,0.508906,36.005089,499
31,Tripura,608,192,0,800,0.000000,31.578947,416
16,Kerala,1096,803,15,1914,1.368613,73.266423,278
32,Uttarakhand,814,528,13,1355,1.597052,64.864865,273
9,Goa,235,65,0,300,0.000000,27.659574,170
11,Haryana,2286,2134,28,4448,1.224847,93.350831,124
14,Jharkhand,602,490,7,1099,1.162791,81.395349,105
23,Nagaland,110,8,0,118,0.000000,7.272727,102
20,Manipur,120,52,0,172,0.000000,43.333333,68
4,Bihar,2578,2480,30,5088,1.163693,96.198604,68
2,Arunachal Pradesh,50,1,0,51,0.000000,2.000000,49
22,Mizoram,33,1,0,34,0.000000,3.030303,32
25,Puducherry,63,36,0,99,0.000000,57.142857,27
7,Dadar Nagar Haveli,18,2,0,20,0.000000,11.111111,16
21,Meghalaya,22,13,1,36,4.545455,59.090909,8
28,Sikkim,7,0,0,7,0.000000,0.000000,7
17,Ladakh,52,50,1,103,1.923077,96.153846,1
0,Andaman and Nicobar Islands,0,33,0,33,NaN,inf,-33
30,Telengana,1803,1710,137,3650,7.598447,94.841930,-44
12,Himachal Pradesh,184,224,5,413,2.717391,121.739130,-45
5,Chandigarh,36,273,5,314,13.888889,758.333333,-242
1,Andhra Pradesh,1951,2682,75,4708,3.844182,137.467965,-806
24,Odisha,953,1894,9,2856,0.944386,198.740818,-950
26,Punjab,451,2106,51,2608,11.308204,466.962306,-1706
33,Uttar Pradesh,4076,6185,275,10536,6.746811,151.741904,-2384
29,Tamil Nadu,14399,16999,269,31667,1.868185,118.056810,-2869
18,Madhya Pradesh,2658,6331,412,9401,15.500376,238.186606,-4085
27,Rajasthan,2718,7641,240,10599,8.830022,281.125828,-5163
10,Gujarat,5186,13635,1249,20070,24.084073,262.919398,-9698

In [39]:
df['active_%']=df.active/df.confirmed*100;
df

,state,confirmed,recovered,deaths,Total Confirmed cases*,rate_death,rate_recovery,active,active_%
19,Maharashtra,43601,39314,3060,85975,7.018188,90.167657,1227,2.814156
8,Delhi,17125,10999,812,28936,4.741606,64.227737,5314,31.030657
29,Tamil Nadu,14399,16999,269,31667,1.868185,118.056810,-2869,-19.924995
10,Gujarat,5186,13635,1249,20070,24.084073,262.919398,-9698,-187.003471
34,West Bengal,4488,3303,396,8187,8.823529,73.596257,789,17.580214
33,Uttar Pradesh,4076,6185,275,10536,6.746811,151.741904,-2384,-58.488714
15,Karnataka,3259,2132,61,5452,1.871740,65.418840,1066,32.709420
13,Jammu and Kashmir,2830,1216,41,4087,1.448763,42.968198,1573,55.583039
27,Rajasthan,2718,7641,240,10599,8.830022,281.125828,-5163,-189.955850
18,Madhya Pradesh,2658,6331,412,9401,15.500376,238.186606,-4085,-153.686983
4,Bihar,2578,2480,30,5088,1.163693,96.198604,68,2.637704
11,Haryana,2286,2134,28,4448,1.224847,93.350831,124,5.424322
1,Andhra Pradesh,1951,2682,75,4708,3.844182,137.467965,-806,-41.312148
3,Assam,1946,615,4,2565,0.205550,31.603289,1327,68.191161
30,Telengana,1803,1710,137,3650,7.598447,94.841930,-44,-2.440377
16,Kerala,1096,803,15,1914,1.368613,73.266423,278,25.364964
24,Odisha,953,1894,9,2856,0.944386,198.740818,-950,-99.685205
32,Uttarakhand,814,528,13,1355,1.597052,64.864865,273,33.538084
6,Chhattisgarh,786,283,4,1073,0.508906,36.005089,499,63.486005
31,Tripura,608,192,0,800,0.000000,31.578947,416,68.421053
14,Jharkhand,602,490,7,1099,1.162791,81.395349,105,17.441860
26,Punjab,451,2106,51,2608,11.308204,466.962306,-1706,-378.270510
9,Goa,235,65,0,300,0.000000,27.659574,170,72.340426
12,Himachal Pradesh,184,224,5,413,2.717391,121.739130,-45,-24.456522
20,Manipur,120,52,0,172,0.000000,43.333333,68,56.666667
23,Nagaland,110,8,0,118,0.000000,7.272727,102,92.727273
25,Puducherry,63,36,0,99,0.000000,57.142857,27,42.857143
17,Ladakh,52,50,1,103,1.923077,96.153846,1,1.923077
2,Arunachal Pradesh,50,1,0,51,0.000000,2.000000,49,98.000000
5,Chandigarh,36,273,5,314,13.888889,758.333333,-242,-672.222222
22,Mizoram,33,1,0,34,0.000000,3.030303,32,96.969697
21,Meghalaya,22,13,1,36,4.545455,59.090909,8,36.363636
7,Dadar Nagar Haveli,18,2,0,20,0.000000,11.111111,16,88.888889
28,Sikkim,7,0,0,7,0.000000,0.000000,7,100.000000
0,Andaman and Nicobar Islands,0,33,0,33,NaN,inf,-33,-inf

In [40]:
df.sort_values(by='active_%', ascending=False)

,state,confirmed,recovered,deaths,Total Confirmed cases*,rate_death,rate_recovery,active,active_%
28,Sikkim,7,0,0,7,0.000000,0.000000,7,100.000000
2,Arunachal Pradesh,50,1,0,51,0.000000,2.000000,49,98.000000
22,Mizoram,33,1,0,34,0.000000,3.030303,32,96.969697
23,Nagaland,110,8,0,118,0.000000,7.272727,102,92.727273
7,Dadar Nagar Haveli,18,2,0,20,0.000000,11.111111,16,88.888889
9,Goa,235,65,0,300,0.000000,27.659574,170,72.340426
31,Tripura,608,192,0,800,0.000000,31.578947,416,68.421053
3,Assam,1946,615,4,2565,0.205550,31.603289,1327,68.191161
6,Chhattisgarh,786,283,4,1073,0.508906,36.005089,499,63.486005
20,Manipur,120,52,0,172,0.000000,43.333333,68,56.666667
13,Jammu and Kashmir,2830,1216,41,4087,1.448763,42.968198,1573,55.583039
25,Puducherry,63,36,0,99,0.000000,57.142857,27,42.857143
21,Meghalaya,22,13,1,36,4.545455,59.090909,8,36.363636
32,Uttarakhand,814,528,13,1355,1.597052,64.864865,273,33.538084
15,Karnataka,3259,2132,61,5452,1.871740,65.418840,1066,32.709420
8,Delhi,17125,10999,812,28936,4.741606,64.227737,5314,31.030657
16,Kerala,1096,803,15,1914,1.368613,73.266423,278,25.364964
34,West Bengal,4488,3303,396,8187,8.823529,73.596257,789,17.580214
14,Jharkhand,602,490,7,1099,1.162791,81.395349,105,17.441860
11,Haryana,2286,2134,28,4448,1.224847,93.350831,124,5.424322
19,Maharashtra,43601,39314,3060,85975,7.018188,90.167657,1227,2.814156
4,Bihar,2578,2480,30,5088,1.163693,96.198604,68,2.637704
17,Ladakh,52,50,1,103,1.923077,96.153846,1,1.923077
30,Telengana,1803,1710,137,3650,7.598447,94.841930,-44,-2.440377
29,Tamil Nadu,14399,16999,269,31667,1.868185,118.056810,-2869,-19.924995
12,Himachal Pradesh,184,224,5,413,2.717391,121.739130,-45,-24.456522
1,Andhra Pradesh,1951,2682,75,4708,3.844182,137.467965,-806,-41.312148
33,Uttar Pradesh,4076,6185,275,10536,6.746811,151.741904,-2384,-58.488714
24,Odisha,953,1894,9,2856,0.944386,198.740818,-950,-99.685205
18,Madhya Pradesh,2658,6331,412,9401,15.500376,238.186606,-4085,-153.686983
10,Gujarat,5186,13635,1249,20070,24.084073,262.919398,-9698,-187.003471
27,Rajasthan,2718,7641,240,10599,8.830022,281.125828,-5163,-189.955850
26,Punjab,451,2106,51,2608,11.308204,466.962306,-1706,-378.270510
5,Chandigarh,36,273,5,314,13.888889,758.333333,-242,-672.222222
0,Andaman and Nicobar Islands,0,33,0,33,NaN,inf,-33,-inf

In [41]:
df.to_excel('Datasets/covidAnalysis.xls', index=False)

In [43]:
df.sort_values(by='rate_recovery', ascending=False)

,state,confirmed,recovered,deaths,Total Confirmed cases*,rate_death,rate_recovery,active,active_%
0,Andaman and Nicobar Islands,0,33,0,33,NaN,inf,-33,-inf
5,Chandigarh,36,273,5,314,13.888889,758.333333,-242,-672.222222
26,Punjab,451,2106,51,2608,11.308204,466.962306,-1706,-378.270510
27,Rajasthan,2718,7641,240,10599,8.830022,281.125828,-5163,-189.955850
10,Gujarat,5186,13635,1249,20070,24.084073,262.919398,-9698,-187.003471
18,Madhya Pradesh,2658,6331,412,9401,15.500376,238.186606,-4085,-153.686983
24,Odisha,953,1894,9,2856,0.944386,198.740818,-950,-99.685205
33,Uttar Pradesh,4076,6185,275,10536,6.746811,151.741904,-2384,-58.488714
1,Andhra Pradesh,1951,2682,75,4708,3.844182,137.467965,-806,-41.312148
12,Himachal Pradesh,184,224,5,413,2.717391,121.739130,-45,-24.456522
29,Tamil Nadu,14399,16999,269,31667,1.868185,118.056810,-2869,-19.924995
4,Bihar,2578,2480,30,5088,1.163693,96.198604,68,2.637704
17,Ladakh,52,50,1,103,1.923077,96.153846,1,1.923077
30,Telengana,1803,1710,137,3650,7.598447,94.841930,-44,-2.440377
11,Haryana,2286,2134,28,4448,1.224847,93.350831,124,5.424322
19,Maharashtra,43601,39314,3060,85975,7.018188,90.167657,1227,2.814156
14,Jharkhand,602,490,7,1099,1.162791,81.395349,105,17.441860
34,West Bengal,4488,3303,396,8187,8.823529,73.596257,789,17.580214
16,Kerala,1096,803,15,1914,1.368613,73.266423,278,25.364964
15,Karnataka,3259,2132,61,5452,1.871740,65.418840,1066,32.709420
32,Uttarakhand,814,528,13,1355,1.597052,64.864865,273,33.538084
8,Delhi,17125,10999,812,28936,4.741606,64.227737,5314,31.030657
21,Meghalaya,22,13,1,36,4.545455,59.090909,8,36.363636
25,Puducherry,63,36,0,99,0.000000,57.142857,27,42.857143
20,Manipur,120,52,0,172,0.000000,43.333333,68,56.666667
13,Jammu and Kashmir,2830,1216,41,4087,1.448763,42.968198,1573,55.583039
6,Chhattisgarh,786,283,4,1073,0.508906,36.005089,499,63.486005
3,Assam,1946,615,4,2565,0.205550,31.603289,1327,68.191161
31,Tripura,608,192,0,800,0.000000,31.578947,416,68.421053
9,Goa,235,65,0,300,0.000000,27.659574,170,72.340426
7,Dadar Nagar Haveli,18,2,0,20,0.000000,11.111111,16,88.888889
23,Nagaland,110,8,0,118,0.000000,7.272727,102,92.727273
22,Mizoram,33,1,0,34,0.000000,3.030303,32,96.969697
2,Arunachal Pradesh,50,1,0,51,0.000000,2.000000,49,98.000000
28,Sikkim,7,0,0,7,0.000000,0.000000,7,100.000000