In [24]:
import urllib.request

In [25]:
url="https://www.mohfw.gov.in/"
req = urllib.request.Request(url)
resp = urllib.request.urlopen(req)
respData = resp.read()

In [26]:
import pandas as pd

In [27]:
lists=pd.read_html(respData)
type(lists)

list

In [28]:
df=lists[0]

In [29]:
df.drop('S. No.', axis=1, inplace=True)
df

,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated,Deaths**
0,Andaman and Nicobar Islands,33,33,0
1,Andhra Pradesh,3110,1896,56
2,Arunachal Pradesh,2,1,0
3,Assam,526,62,4
4,Bihar,2730,749,13
5,Chandigarh,238,186,3
6,Chhattisgarh,291,72,0
7,Dadar Nagar Haveli,2,0,0
8,Delhi,14053,6771,276
9,Goa,67,19,0
10,Gujarat,14460,6636,888
11,Haryana,1184,765,16
12,Himachal Pradesh,223,67,5
13,Jammu and Kashmir,1668,809,23
14,Jharkhand,377,148,4
15,Karnataka,2182,705,44
16,Kerala,896,532,5
17,Ladakh,52,43,0
18,Madhya Pradesh,6859,3571,300
19,Maharashtra,52667,15786,1695
20,Manipur,39,4,0
21,Meghalaya,14,12,1
22,Mizoram,1,1,0
23,Nagaland,3,0,0
24,Odisha,1438,649,7
25,Puducherry,41,12,0
26,Punjab,2060,1898,40
27,Rajasthan,7300,3951,167
28,Sikkim,1,0,0
29,Tamil Nadu,17082,8731,118
30,Telengana,1920,1164,56
31,Tripura,194,165,0
32,Uttarakhand,349,58,3
33,Uttar Pradesh,6532,3581,165
34,West Bengal,3816,1414,278
35,Cases being reassigned to states,2970,NaN,NaN
36,Total#,145380,60491,4167
37,*(Including foreign Nationals),*(Including foreign Nationals),*(Including foreign Nationals),*(Including foreign Nationals)
38,**( more than 70% cases due to comorbidities ),**( more than 70% cases due to comorbidities ),**( more than 70% cases due to comorbidities ),**( more than 70% cases due to comorbidities )
39,#States wise distribution is subject to furthe...,#States wise distribution is subject to furthe...,#States wise distribution is subject to furthe...,#States wise distribution is subject to furthe...
40,#Our figures are being reconciled with ICMR,#Our figures are being reconciled with ICMR,#Our figures are being reconciled with ICMR,#Our figures are being reconciled with ICMR

In [30]:
df.drop(range(35, 41), axis=0,  inplace=True)

In [31]:
df.dtypes

Name of State / UT           object
Total Confirmed cases*       object
Cured/Discharged/Migrated    object
Deaths**                     object
dtype: object

In [32]:
df.rename({'Name of State / UT':'state', 'Total Confirmed cases*':'confirmed', 'Cured/Discharged/Migrated':'recovered', 'Deaths**':'deaths'}, axis=1, inplace=True)
df

                          state confirmed recovered deaths
0   Andaman and Nicobar Islands        33        33      0
1                Andhra Pradesh      3110      1896     56
2             Arunachal Pradesh         2         1      0
3                         Assam       526        62      4
4                         Bihar      2730       749     13
5                    Chandigarh       238       186      3
6                  Chhattisgarh       291        72      0
7            Dadar Nagar Haveli         2         0      0
8                         Delhi     14053      6771    276
9                           Goa        67        19      0
10                      Gujarat     14460      6636    888
11                      Haryana      1184       765     16
12             Himachal Pradesh       223        67      5
13            Jammu and Kashmir      1668       809     23
14                    Jharkhand       377       148      4
15                    Karnataka      2182       705     44
16                       Kerala       896       532      5
17                       Ladakh        52        43      0
18               Madhya Pradesh      6859      3571    300
19                  Maharashtra     52667     15786   1695
20                      Manipur        39         4      0
21                    Meghalaya        14        12      1
22                      Mizoram         1         1      0
23                     Nagaland         3         0      0
24                       Odisha      1438       649      7
25                   Puducherry        41        12      0
26                       Punjab      2060      1898     40
27                    Rajasthan      7300      3951    167
28                       Sikkim         1         0      0
29                   Tamil Nadu     17082      8731    118
30                    Telengana      1920      1164     56
31                      Tripura       194       165      0
32                  Uttarakhand       349        58      3
33                Uttar Pradesh      6532      3581    165
34                  West Bengal      3816      1414    278

In [33]:
df.dtypes

state        object
confirmed    object
recovered    object
deaths       object
dtype: object

In [34]:
df.confirmed=df.confirmed.map(int)

In [35]:
df.recovered=df.recovered.map(int)
df.deaths=df.deaths.map(int)

In [36]:
df.dtypes

state        object
confirmed     int64
recovered     int64
deaths        int64
dtype: object

In [37]:
t_confirmed=df.confirmed.sum()

In [38]:
t_recovered=df.recovered.sum()

In [39]:
t_death=df.deaths.sum()

In [40]:
t_rate=t_recovered*100/t_confirmed
t_rate #recovery rate

42.4766519205112

In [41]:
df.sort_values(by='confirmed', inplace=True, ascending=False)
df

                          state  confirmed  recovered  deaths
19                  Maharashtra      52667      15786    1695
29                   Tamil Nadu      17082       8731     118
10                      Gujarat      14460       6636     888
8                         Delhi      14053       6771     276
27                    Rajasthan       7300       3951     167
18               Madhya Pradesh       6859       3571     300
33                Uttar Pradesh       6532       3581     165
34                  West Bengal       3816       1414     278
1                Andhra Pradesh       3110       1896      56
4                         Bihar       2730        749      13
15                    Karnataka       2182        705      44
26                       Punjab       2060       1898      40
30                    Telengana       1920       1164      56
13            Jammu and Kashmir       1668        809      23
24                       Odisha       1438        649       7
11                      Haryana       1184        765      16
16                       Kerala        896        532       5
3                         Assam        526         62       4
14                    Jharkhand        377        148       4
32                  Uttarakhand        349         58       3
6                  Chhattisgarh        291         72       0
5                    Chandigarh        238        186       3
12             Himachal Pradesh        223         67       5
31                      Tripura        194        165       0
9                           Goa         67         19       0
17                       Ladakh         52         43       0
25                   Puducherry         41         12       0
20                      Manipur         39          4       0
0   Andaman and Nicobar Islands         33         33       0
21                    Meghalaya         14         12       1
23                     Nagaland          3          0       0
7            Dadar Nagar Haveli          2          0       0
2             Arunachal Pradesh          2          1       0
28                       Sikkim          1          0       0
22                      Mizoram          1          1       0

In [42]:
df[:10]

             state  confirmed  recovered  deaths
19     Maharashtra      52667      15786    1695
29      Tamil Nadu      17082       8731     118
10         Gujarat      14460       6636     888
8            Delhi      14053       6771     276
27       Rajasthan       7300       3951     167
18  Madhya Pradesh       6859       3571     300
33   Uttar Pradesh       6532       3581     165
34     West Bengal       3816       1414     278
1   Andhra Pradesh       3110       1896      56
4            Bihar       2730        749      13

In [43]:
rate_recovery=df.recovered/df.confirmed*100

In [44]:
rate_recovery

19     29.973228
29     51.112282
10     45.892116
8      48.181883
27     54.123288
18     52.062983
33     54.822413
34     37.054507
1      60.964630
4      27.435897
15     32.309808
26     92.135922
30     60.625000
13     48.501199
24     45.132128
11     64.611486
16     59.375000
3      11.787072
14     39.257294
32     16.618911
6      24.742268
5      78.151261
12     30.044843
31     85.051546
9      28.358209
17     82.692308
25     29.268293
20     10.256410
0     100.000000
21     85.714286
23      0.000000
7       0.000000
2      50.000000
28      0.000000
22    100.000000
dtype: float64

In [45]:
rate_death=df.deaths/df.confirmed*100
rate_death

19    3.218334
29    0.690786
10    6.141079
8     1.963993
27    2.287671
18    4.373815
33    2.526026
34    7.285115
1     1.800643
4     0.476190
15    2.016499
26    1.941748
30    2.916667
13    1.378897
24    0.486787
11    1.351351
16    0.558036
3     0.760456
14    1.061008
32    0.859599
6     0.000000
5     1.260504
12    2.242152
31    0.000000
9     0.000000
17    0.000000
25    0.000000
20    0.000000
0     0.000000
21    7.142857
23    0.000000
7     0.000000
2     0.000000
28    0.000000
22    0.000000
dtype: float64

In [46]:
df['rate_death']=rate_death

In [47]:
df['rate_recovery']=rate_recovery

In [48]:
df[df.rate_death==df.rate_death.max()]

          state  confirmed  recovered  deaths  rate_death  rate_recovery
34  West Bengal       3816       1414     278    7.285115      37.054507

In [49]:
df

,state,confirmed,recovered,deaths,rate_death,rate_recovery
19,Maharashtra,52667,15786,1695,3.218334,29.973228
29,Tamil Nadu,17082,8731,118,0.690786,51.112282
10,Gujarat,14460,6636,888,6.141079,45.892116
8,Delhi,14053,6771,276,1.963993,48.181883
27,Rajasthan,7300,3951,167,2.287671,54.123288
18,Madhya Pradesh,6859,3571,300,4.373815,52.062983
33,Uttar Pradesh,6532,3581,165,2.526026,54.822413
34,West Bengal,3816,1414,278,7.285115,37.054507
1,Andhra Pradesh,3110,1896,56,1.800643,60.964630
4,Bihar,2730,749,13,0.476190,27.435897
15,Karnataka,2182,705,44,2.016499,32.309808
26,Punjab,2060,1898,40,1.941748,92.135922
30,Telengana,1920,1164,56,2.916667,60.625000
13,Jammu and Kashmir,1668,809,23,1.378897,48.501199
24,Odisha,1438,649,7,0.486787,45.132128
11,Haryana,1184,765,16,1.351351,64.611486
16,Kerala,896,532,5,0.558036,59.375000
3,Assam,526,62,4,0.760456,11.787072
14,Jharkhand,377,148,4,1.061008,39.257294
32,Uttarakhand,349,58,3,0.859599,16.618911
6,Chhattisgarh,291,72,0,0.000000,24.742268
5,Chandigarh,238,186,3,1.260504,78.151261
12,Himachal Pradesh,223,67,5,2.242152,30.044843
31,Tripura,194,165,0,0.000000,85.051546
9,Goa,67,19,0,0.000000,28.358209
17,Ladakh,52,43,0,0.000000,82.692308
25,Puducherry,41,12,0,0.000000,29.268293
20,Manipur,39,4,0,0.000000,10.256410
0,Andaman and Nicobar Islands,33,33,0,0.000000,100.000000
21,Meghalaya,14,12,1,7.142857,85.714286
23,Nagaland,3,0,0,0.000000,0.000000
7,Dadar Nagar Haveli,2,0,0,0.000000,0.000000
2,Arunachal Pradesh,2,1,0,0.000000,50.000000
28,Sikkim,1,0,0,0.000000,0.000000
22,Mizoram,1,1,0,0.000000,100.000000

In [50]:
df.sort_values(by=['rate_recovery', 'rate_death'], ascending=False)

,state,confirmed,recovered,deaths,rate_death,rate_recovery
0,Andaman and Nicobar Islands,33,33,0,0.000000,100.000000
22,Mizoram,1,1,0,0.000000,100.000000
26,Punjab,2060,1898,40,1.941748,92.135922
21,Meghalaya,14,12,1,7.142857,85.714286
31,Tripura,194,165,0,0.000000,85.051546
17,Ladakh,52,43,0,0.000000,82.692308
5,Chandigarh,238,186,3,1.260504,78.151261
11,Haryana,1184,765,16,1.351351,64.611486
1,Andhra Pradesh,3110,1896,56,1.800643,60.964630
30,Telengana,1920,1164,56,2.916667,60.625000
16,Kerala,896,532,5,0.558036,59.375000
33,Uttar Pradesh,6532,3581,165,2.526026,54.822413
27,Rajasthan,7300,3951,167,2.287671,54.123288
18,Madhya Pradesh,6859,3571,300,4.373815,52.062983
29,Tamil Nadu,17082,8731,118,0.690786,51.112282
2,Arunachal Pradesh,2,1,0,0.000000,50.000000
13,Jammu and Kashmir,1668,809,23,1.378897,48.501199
8,Delhi,14053,6771,276,1.963993,48.181883
10,Gujarat,14460,6636,888,6.141079,45.892116
24,Odisha,1438,649,7,0.486787,45.132128
14,Jharkhand,377,148,4,1.061008,39.257294
34,West Bengal,3816,1414,278,7.285115,37.054507
15,Karnataka,2182,705,44,2.016499,32.309808
12,Himachal Pradesh,223,67,5,2.242152,30.044843
19,Maharashtra,52667,15786,1695,3.218334,29.973228
25,Puducherry,41,12,0,0.000000,29.268293
9,Goa,67,19,0,0.000000,28.358209
4,Bihar,2730,749,13,0.476190,27.435897
6,Chhattisgarh,291,72,0,0.000000,24.742268
32,Uttarakhand,349,58,3,0.859599,16.618911
3,Assam,526,62,4,0.760456,11.787072
20,Manipur,39,4,0,0.000000,10.256410
23,Nagaland,3,0,0,0.000000,0.000000
7,Dadar Nagar Haveli,2,0,0,0.000000,0.000000
28,Sikkim,1,0,0,0.000000,0.000000

In [51]:
df.rate_recovery.mean()

46.750184909138525

In [52]:
df.rate_death.mean()

1.5640061180761615

In [53]:
df.confirmed.sum()

142410

In [54]:
df.recovered.sum()

60491

In [55]:
df.deaths.sum()

4167

In [56]:
active=df.confirmed.sum()-(df.recovered.sum()+df.deaths.sum())
active

77752

In [57]:
freed=df.recovered.sum()+df.deaths.sum()
freed

64658

In [58]:
df['active']=df.confirmed-(df.recovered+df.deaths)
df

,state,confirmed,recovered,deaths,rate_death,rate_recovery,active
19,Maharashtra,52667,15786,1695,3.218334,29.973228,35186
29,Tamil Nadu,17082,8731,118,0.690786,51.112282,8233
10,Gujarat,14460,6636,888,6.141079,45.892116,6936
8,Delhi,14053,6771,276,1.963993,48.181883,7006
27,Rajasthan,7300,3951,167,2.287671,54.123288,3182
18,Madhya Pradesh,6859,3571,300,4.373815,52.062983,2988
33,Uttar Pradesh,6532,3581,165,2.526026,54.822413,2786
34,West Bengal,3816,1414,278,7.285115,37.054507,2124
1,Andhra Pradesh,3110,1896,56,1.800643,60.964630,1158
4,Bihar,2730,749,13,0.476190,27.435897,1968
15,Karnataka,2182,705,44,2.016499,32.309808,1433
26,Punjab,2060,1898,40,1.941748,92.135922,122
30,Telengana,1920,1164,56,2.916667,60.625000,700
13,Jammu and Kashmir,1668,809,23,1.378897,48.501199,836
24,Odisha,1438,649,7,0.486787,45.132128,782
11,Haryana,1184,765,16,1.351351,64.611486,403
16,Kerala,896,532,5,0.558036,59.375000,359
3,Assam,526,62,4,0.760456,11.787072,460
14,Jharkhand,377,148,4,1.061008,39.257294,225
32,Uttarakhand,349,58,3,0.859599,16.618911,288
6,Chhattisgarh,291,72,0,0.000000,24.742268,219
5,Chandigarh,238,186,3,1.260504,78.151261,49
12,Himachal Pradesh,223,67,5,2.242152,30.044843,151
31,Tripura,194,165,0,0.000000,85.051546,29
9,Goa,67,19,0,0.000000,28.358209,48
17,Ladakh,52,43,0,0.000000,82.692308,9
25,Puducherry,41,12,0,0.000000,29.268293,29
20,Manipur,39,4,0,0.000000,10.256410,35
0,Andaman and Nicobar Islands,33,33,0,0.000000,100.000000,0
21,Meghalaya,14,12,1,7.142857,85.714286,1
23,Nagaland,3,0,0,0.000000,0.000000,3
7,Dadar Nagar Haveli,2,0,0,0.000000,0.000000,2
2,Arunachal Pradesh,2,1,0,0.000000,50.000000,1
28,Sikkim,1,0,0,0.000000,0.000000,1
22,Mizoram,1,1,0,0.000000,100.000000,0

In [59]:
df.sort_values(by='active', ascending=False)

,state,confirmed,recovered,deaths,rate_death,rate_recovery,active
19,Maharashtra,52667,15786,1695,3.218334,29.973228,35186
29,Tamil Nadu,17082,8731,118,0.690786,51.112282,8233
8,Delhi,14053,6771,276,1.963993,48.181883,7006
10,Gujarat,14460,6636,888,6.141079,45.892116,6936
27,Rajasthan,7300,3951,167,2.287671,54.123288,3182
18,Madhya Pradesh,6859,3571,300,4.373815,52.062983,2988
33,Uttar Pradesh,6532,3581,165,2.526026,54.822413,2786
34,West Bengal,3816,1414,278,7.285115,37.054507,2124
4,Bihar,2730,749,13,0.476190,27.435897,1968
15,Karnataka,2182,705,44,2.016499,32.309808,1433
1,Andhra Pradesh,3110,1896,56,1.800643,60.964630,1158
13,Jammu and Kashmir,1668,809,23,1.378897,48.501199,836
24,Odisha,1438,649,7,0.486787,45.132128,782
30,Telengana,1920,1164,56,2.916667,60.625000,700
3,Assam,526,62,4,0.760456,11.787072,460
11,Haryana,1184,765,16,1.351351,64.611486,403
16,Kerala,896,532,5,0.558036,59.375000,359
32,Uttarakhand,349,58,3,0.859599,16.618911,288
14,Jharkhand,377,148,4,1.061008,39.257294,225
6,Chhattisgarh,291,72,0,0.000000,24.742268,219
12,Himachal Pradesh,223,67,5,2.242152,30.044843,151
26,Punjab,2060,1898,40,1.941748,92.135922,122
5,Chandigarh,238,186,3,1.260504,78.151261,49
9,Goa,67,19,0,0.000000,28.358209,48
20,Manipur,39,4,0,0.000000,10.256410,35
31,Tripura,194,165,0,0.000000,85.051546,29
25,Puducherry,41,12,0,0.000000,29.268293,29
17,Ladakh,52,43,0,0.000000,82.692308,9
23,Nagaland,3,0,0,0.000000,0.000000,3
7,Dadar Nagar Haveli,2,0,0,0.000000,0.000000,2
21,Meghalaya,14,12,1,7.142857,85.714286,1
2,Arunachal Pradesh,2,1,0,0.000000,50.000000,1
28,Sikkim,1,0,0,0.000000,0.000000,1
0,Andaman and Nicobar Islands,33,33,0,0.000000,100.000000,0
22,Mizoram,1,1,0,0.000000,100.000000,0

In [60]:
df['active_%']=df.active/df.confirmed*100;
df

,state,confirmed,recovered,deaths,rate_death,rate_recovery,active,active_%
19,Maharashtra,52667,15786,1695,3.218334,29.973228,35186,66.808438
29,Tamil Nadu,17082,8731,118,0.690786,51.112282,8233,48.196932
10,Gujarat,14460,6636,888,6.141079,45.892116,6936,47.966805
8,Delhi,14053,6771,276,1.963993,48.181883,7006,49.854124
27,Rajasthan,7300,3951,167,2.287671,54.123288,3182,43.589041
18,Madhya Pradesh,6859,3571,300,4.373815,52.062983,2988,43.563202
33,Uttar Pradesh,6532,3581,165,2.526026,54.822413,2786,42.651562
34,West Bengal,3816,1414,278,7.285115,37.054507,2124,55.660377
1,Andhra Pradesh,3110,1896,56,1.800643,60.964630,1158,37.234727
4,Bihar,2730,749,13,0.476190,27.435897,1968,72.087912
15,Karnataka,2182,705,44,2.016499,32.309808,1433,65.673694
26,Punjab,2060,1898,40,1.941748,92.135922,122,5.922330
30,Telengana,1920,1164,56,2.916667,60.625000,700,36.458333
13,Jammu and Kashmir,1668,809,23,1.378897,48.501199,836,50.119904
24,Odisha,1438,649,7,0.486787,45.132128,782,54.381085
11,Haryana,1184,765,16,1.351351,64.611486,403,34.037162
16,Kerala,896,532,5,0.558036,59.375000,359,40.066964
3,Assam,526,62,4,0.760456,11.787072,460,87.452471
14,Jharkhand,377,148,4,1.061008,39.257294,225,59.681698
32,Uttarakhand,349,58,3,0.859599,16.618911,288,82.521490
6,Chhattisgarh,291,72,0,0.000000,24.742268,219,75.257732
5,Chandigarh,238,186,3,1.260504,78.151261,49,20.588235
12,Himachal Pradesh,223,67,5,2.242152,30.044843,151,67.713004
31,Tripura,194,165,0,0.000000,85.051546,29,14.948454
9,Goa,67,19,0,0.000000,28.358209,48,71.641791
17,Ladakh,52,43,0,0.000000,82.692308,9,17.307692
25,Puducherry,41,12,0,0.000000,29.268293,29,70.731707
20,Manipur,39,4,0,0.000000,10.256410,35,89.743590
0,Andaman and Nicobar Islands,33,33,0,0.000000,100.000000,0,0.000000
21,Meghalaya,14,12,1,7.142857,85.714286,1,7.142857
23,Nagaland,3,0,0,0.000000,0.000000,3,100.000000
7,Dadar Nagar Haveli,2,0,0,0.000000,0.000000,2,100.000000
2,Arunachal Pradesh,2,1,0,0.000000,50.000000,1,50.000000
28,Sikkim,1,0,0,0.000000,0.000000,1,100.000000
22,Mizoram,1,1,0,0.000000,100.000000,0,0.000000

In [61]:
df.sort_values(by='active_%', ascending=False)

,state,confirmed,recovered,deaths,rate_death,rate_recovery,active,active_%
28,Sikkim,1,0,0,0.000000,0.000000,1,100.000000
7,Dadar Nagar Haveli,2,0,0,0.000000,0.000000,2,100.000000
23,Nagaland,3,0,0,0.000000,0.000000,3,100.000000
20,Manipur,39,4,0,0.000000,10.256410,35,89.743590
3,Assam,526,62,4,0.760456,11.787072,460,87.452471
32,Uttarakhand,349,58,3,0.859599,16.618911,288,82.521490
6,Chhattisgarh,291,72,0,0.000000,24.742268,219,75.257732
4,Bihar,2730,749,13,0.476190,27.435897,1968,72.087912
9,Goa,67,19,0,0.000000,28.358209,48,71.641791
25,Puducherry,41,12,0,0.000000,29.268293,29,70.731707
12,Himachal Pradesh,223,67,5,2.242152,30.044843,151,67.713004
19,Maharashtra,52667,15786,1695,3.218334,29.973228,35186,66.808438
15,Karnataka,2182,705,44,2.016499,32.309808,1433,65.673694
14,Jharkhand,377,148,4,1.061008,39.257294,225,59.681698
34,West Bengal,3816,1414,278,7.285115,37.054507,2124,55.660377
24,Odisha,1438,649,7,0.486787,45.132128,782,54.381085
13,Jammu and Kashmir,1668,809,23,1.378897,48.501199,836,50.119904
2,Arunachal Pradesh,2,1,0,0.000000,50.000000,1,50.000000
8,Delhi,14053,6771,276,1.963993,48.181883,7006,49.854124
29,Tamil Nadu,17082,8731,118,0.690786,51.112282,8233,48.196932
10,Gujarat,14460,6636,888,6.141079,45.892116,6936,47.966805
27,Rajasthan,7300,3951,167,2.287671,54.123288,3182,43.589041
18,Madhya Pradesh,6859,3571,300,4.373815,52.062983,2988,43.563202
33,Uttar Pradesh,6532,3581,165,2.526026,54.822413,2786,42.651562
16,Kerala,896,532,5,0.558036,59.375000,359,40.066964
1,Andhra Pradesh,3110,1896,56,1.800643,60.964630,1158,37.234727
30,Telengana,1920,1164,56,2.916667,60.625000,700,36.458333
11,Haryana,1184,765,16,1.351351,64.611486,403,34.037162
5,Chandigarh,238,186,3,1.260504,78.151261,49,20.588235
17,Ladakh,52,43,0,0.000000,82.692308,9,17.307692
31,Tripura,194,165,0,0.000000,85.051546,29,14.948454
21,Meghalaya,14,12,1,7.142857,85.714286,1,7.142857
26,Punjab,2060,1898,40,1.941748,92.135922,122,5.922330
0,Andaman and Nicobar Islands,33,33,0,0.000000,100.000000,0,0.000000
22,Mizoram,1,1,0,0.000000,100.000000,0,0.000000

In [62]:
df.to_excel('Datasets/covidAnalysis.xls', index=False)